[Unit]
Description=Kubernetes Kube-Proxy Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target

[Service]
WorkingDirectory={{ KUBE_PROXY_ROOT_DIR }}
ExecStart={{ bin_dir }}/kube-proxy \
  --config={{ KUBE_PROXY_ROOT_DIR }}/kube-proxy-config.yaml
Restart=always
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
