-----BEGIN CERTIFICATE-----
MIIFrTCCA5WgAwIBAgIJAO1n+epfPCtGMA0GCSqGSIb3DQEBDQUAMG0xCzAJBgNV
BAYTAlRXMQ8wDQYDVQQIDAZUYWlwZWkxDzANBgNVBAcMBlRhaXBlaTEQMA4GA1UE
CgwHZXhhbXBsZTERMA8GA1UECwwIUGVyc29uYWwxFzAVBgNVBAMMDnJlZy5oYXJi
b3IuY29tMB4XDTE5MDcxMTA2NTgwMFoXDTI5MDcwODA2NTgwMFowbTELMAkGA1UE
BhMCVFcxDzANBgNVBAgMBlRhaXBlaTEPMA0GA1UEBwwGVGFpcGVpMRAwDgYDVQQK
DAdleGFtcGxlMREwDwYDVQQLDAhQZXJzb25hbDEXMBUGA1UEAwwOcmVnLmhhcmJv
ci5jb20wggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQDvxKcpktZtgBXH
3cPk9GgRntou3N8LhQ5wlUB2fB5NVYG59rBwh2Es/RHk8PAFqBXwStsFunWnJhaK
22BTnDS67bqoTjSZGIcSVYrHFIvB2BXGBRuUERCQHrCEqKJjDgiNXTxyzvpr4fg6
esmKKAEJSHzhwQxivpnebpm5fVTU2O1bwY+SfKMeRzyDTvsBghK5amD428q4blbh
/LC4MowiAdOViLkVEFn5CF9sV02sFpyYSEiErBUXOxKKe/Um4gUn3EJz+GFRaL3T
2WqBd52HEA6mUjuhJfdsMc37RFr7HH07tdV9fO+Cs0Xtr7bZHe72cMPluAiEg11x
KakVPOtC6cWqt2oGYZYfMI2jTR3oJ5BELaDFNSAbqMPWLPLwUPUZOyDH9py0eXlK
muibJ/6LCQrC0o59VzEwW+l4KkuHT6pyVIBoDW6tZE/V7AZrZ8eTIZgG1jK7C0FV
PsqYDDSBcGlAU/UdAwIkiAHFIt6ilnT73wHZ2pnyaIO9oWsKVMGhnKYPa5fySyAA
56JqPyHka8FK5XTORJYH8qLTIFaOOkuNSXaVng//yIAJQzajqszjIC8WFyzQD5li
4yyohCld5XceK86v/0z3PT9vbBHTd5ySpA9sGN+pYT6mvDIEnPk7D8pXvNyHZlGE
JcIXPIVzt0qxa42Too4C5SLq8oAzcQIDAQABo1AwTjAdBgNVHQ4EFgQU33meJ3c1
q1aZ825dBIHKkrNenIcwHwYDVR0jBBgwFoAU33meJ3c1q1aZ825dBIHKkrNenIcw
DAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQ0FAAOCAgEAFiR7fNK/pcqKASsCokwc
36ThlA2273fxxBRzbkaUDZH0hPjT/eZqxceoTpx/pW1vlcwvfNlux4d/xuWbTbUm
dm/Os0Y6PFdgbZGZv9IiYUX7wjxH5buUWgUp2LQUYVWBeZMQbgv8pwVek4v6e/wT
jx2L3mVHYvqspOd+louOq4T/rjH4zlhPkaRMBpPUswx1kZwnEhRzlK5CdRrzUGPm
Fz/W+rWoU9tWsPfV2J47uiRCvlwiMFrhOEmZVqujDM94AN9a0EDxYClo+Rp0s7LA
8dF6V85IF/Vg3SFVSggfwxW2Ke2/XhBgSUq3iSYrsk8uL6bAmmQu8vclpw+/M4Mi
Hho7QitWPXHxmO1unJCy2Tq1EX686VXB95BXMONy1ZFCa/sLiHS6DsIE7OVV8piv
EvK6Rc0Pz6D2GkrGe7Tb4nk0VBtBMdBBOP2me2I9pAPIqHPA+mGgHk5YLtBr36p1
GKgRYqKf2ULgjkv/PSqL9yMq5pYRwLncZS3fcRjxPnb7KetVroylxoy55xozsrKp
biehU+k8BvBCpYHjqSELyBH0+G1okIgmGLshvwY3aRds7onX3ynI7f0cIPCPnB6a
KzCSAZYxNYzc6+uCPyg2Tdflsx4nScWEha0x/Y/eSiI1SFDatlfWohCDoFfpMYNl
IKmsmINrXOVhWSOcuP9Ukwk=
-----END CERTIFICATE-----
